html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

body {
  min-width: 390px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 37px;
  color: #e3ded8;
  background-color: #ffffff;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 184px;
  padding-left: 165px;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
